@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, serif;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
}
/* system-ui,
Avenir,
Helvetica,
Arial, */

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}  

.container {
    max-width: 1420px;
    padding: 0 20px;
    margin: 0 auto;
}


